@model dded.db.Linkage.TblMapMenu

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblMapMenu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MainMenu.MenuNameTh" class="control-label"></label>
                <select asp-for="MainMenuId" class="form-control" asp-items="ViewBag.MainMenuMenuNameTh"></select>
                <span asp-validation-for="MainMenuId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubMenu.MenuNameTh" class="control-label"></label>
                <select asp-for="SubMenuId" class="form-control" asp-items="ViewBag.SubMenuMenuNameTh"></select>
                <span asp-validation-for="SubMenuId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="No" class="control-label"></label>
                <input asp-for="No" class="form-control" />
                <span asp-validation-for="No" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActiveFlag" class="control-label"></label>
                <input asp-for="ActiveFlag" class="form-control" />
                <span asp-validation-for="ActiveFlag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
