@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>DEDD 1/2020 Data Engineering and Database Design</a>.</p>
</div>

<p>
    <img src="~/logo_kmutnb.png" class="center"/>
</p>